*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  background: rgb(10, 10, 10);
  justify-content: center;
  align-items: center;
}

.lives {
  display: flex;
  gap: 0.3em;
  justify-content: center;
  margin-block-end: 1rem;
}

.heart {
  max-width: 30px;
  aspect-ratio: 1/1;
}

.key {
  padding: 1em;
}

.keyboard-row {
  display: flex;
  justify-content: center;
}
